.info-page-container {
  font-family: 'Tahoma', 'Geneva', sans-serif;
  font-size: 13.3333px;
  color: #000000;
  cursor: url('/mouse.png') 0 0, auto !important;
}

.info-page-container * {
  font-family: 'Tahoma', 'Geneva', sans-serif;
  font-size: 10px;
  color: #000000;
  cursor: url('/mouse.png') 0 0, auto !important;
}

html,
body {
  cursor: url('/mouse.png') 0 0, auto !important;
}

.desktop-icons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.desktop-icons-container .desktop-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 80px;
}

.desktop-icons-container .desktop-icons:nth-child(2) {
  margin-top: -5px;
}

.desktop-icons-container .windows-icon {
  margin: 0;
  width: 80px;
  height: auto;
}

