.start-menu {
  position: fixed;
  bottom: 38px;
  left: 0;
  z-index: 3000;
  display: inline-block;
}

.start-menu-background {
  display: block;
  max-width: 200px;
  height: auto;
  position: relative;
}

.start-menu-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.shutdown-button {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 99%;
  height: 30px;
  background: transparent;
  border: none;
  cursor: url('/mouse.png'), pointer;
  z-index: 10;
  pointer-events: auto;
}

.shutdown-button:hover {
  border: 2px inset #c0c0c0;
}

.shutdown-button.shadow-effect {
  border: 2px inset #c0c0c0;
  box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(0, 0, 0, 0.3),
    inset 0 0 10px rgba(0, 0, 0, 0.2);
}

