.windows-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin: 10px;
  cursor: url('/mouse.png'), pointer;
  user-select: none;
}

.windows-icon:hover .icon-image {
  filter: brightness(1.2);
}

.windows-icon:active .icon-image {
  filter: brightness(0.9);
}

.icon-image {
  width: 56px;
  height: 56px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin-bottom: 4px;
}

.icon-title {
  font-family: 'Tahoma', 'Geneva', sans-serif;
  font-size: 12px;
  color: #ffffff !important;
  text-align: center;
  word-wrap: break-word;
  max-width: 80px;
  line-height: 1.2;
}

